attendance.blueprint.json
{
    "name": "attendance",
    "flow": [
        {
            "id": 5,
            "module": "google-drive:searchForFilesFolders",
            "version": 4,
            "parameters": {
                "__IMTCONN__": xxxxxx
            },
            "mapper": {
                "limit": "10",
                "query": "{{var.input.Student_ID}}",
                "select": "list",
                "folderId": null,
                "retrieve": "folder",
                "searchType": "fulltext",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": []
                        },
                        "retrieve": {
                            "label": "Folders"
                        },
                        "searchType": {
                            "label": "Fulltext search"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Drive (axxxxxxxx@xxxxxx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "retrieve",
                        "type": "select",
                        "label": "Retrieve",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "file_folder"
                            ]
                        }
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search",
                        "validate": {
                            "enum": [
                                "title",
                                "fulltext",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Choose a Folder"
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-drive:searchForFilesFolders",
            "version": 4,
            "parameters": {
                "__IMTCONN__": xxxxx
            },
            "mapper": {
                "limit": "10",
                "query": "attendance",
                "select": "list",
                "folderId": "/{{5.id}}",
                "operator": "contains",
                "retrieve": "file",
                "searchType": "title",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "edit",
                            "path": []
                        },
                        "operator": {
                            "label": "Search for name containing the search term"
                        },
                        "retrieve": {
                            "label": "Files"
                        },
                        "searchType": {
                            "label": "Search within file/folder names"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Drive (xxxxxx@xxxxxx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "retrieve",
                        "type": "select",
                        "label": "Retrieve",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "file_folder"
                            ]
                        }
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search",
                        "validate": {
                            "enum": [
                                "title",
                                "fulltext",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Choose a Folder"
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "operator",
                        "type": "select",
                        "label": "Search options",
                        "required": true,
                        "validate": {
                            "enum": [
                                "=",
                                "contains"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": xxxxxx
            },
            "mapper": {
                "from": "drive",
                "sheetId": "{{6.name}}",
                "sortOrder": "asc",
                "spreadsheetId": "{{6.id}}",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "edit"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Google connection (xxxxxx@xxxxxxx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "any",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{`7`}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.line.me/v2/bot/message/push",
                "data": "{\r\n\"to\": \"{{var.input.Password}}\",\r\n  \"messages\": [\r\n    {\r\n      \"type\": \"flex\",\r\n      \"altText\": \"各科出缺勤狀況\",\r\n      \"contents\": {\r\n        \"type\": \"carousel\",\r\n        \"contents\": [\r\n          {\r\n            \"type\": \"bubble\",\r\n            \"size\": \"mega\",\r\n            \"header\": {\r\n              \"type\": \"box\",\r\n              \"layout\": \"vertical\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"text\",\r\n                  \"text\": \"{{7.`2`}}\",\r\n                  \"color\": \"#ffffff\",\r\n                  \"align\": \"start\",\r\n                  \"size\": \"md\",\r\n                  \"gravity\": \"center\"\r\n                }\r\n              ],\r\n              \"backgroundColor\": \"#B83B21\",\r\n              \"paddingTop\": \"19px\",\r\n              \"paddingAll\": \"12px\",\r\n              \"paddingBottom\": \"16px\"\r\n            },\r\n            \"body\": {\r\n              \"type\": \"box\",\r\n              \"layout\": \"vertical\",\r\n              \"contents\": [\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"horizontal\",\r\n                  \"contents\": [\r\n                    { \"type\": \"text\", \"text\": \"課程簡碼\", \"color\": \"#8C8C8C\", \"size\": \"sm\", \"flex\": 1 },\r\n                    { \"type\": \"text\", \"text\": \"{{7.`4`}}\", \"color\": \"#666666\", \"size\": \"sm\", \"align\": \"end\", \"flex\": 2 }\r\n                  ]\r\n                },\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"horizontal\",\r\n                  \"contents\": [\r\n                    { \"type\": \"text\", \"text\": \"教師\", \"color\": \"#8C8C8C\", \"size\": \"sm\", \"flex\": 1 },\r\n                    { \"type\": \"text\", \"text\": \"{{7.`3`}}\", \"color\": \"#666666\", \"size\": \"sm\", \"align\": \"end\", \"flex\": 2 }\r\n                  ]\r\n                },\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"horizontal\",\r\n                  \"contents\": [\r\n                    { \"type\": \"text\", \"text\": \"缺課時數\", \"color\": \"#8C8C8C\", \"size\": \"sm\", \"flex\": 1 },\r\n                    { \"type\": \"text\", \"text\": \"*{{7.`7`}}\", \"color\": \"#666666\", \"size\": \"sm\", \"align\": \"end\", \"flex\": 2 }\r\n                  ]\r\n                },\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"horizontal\",\r\n                  \"contents\": [\r\n                    { \"type\": \"text\", \"text\": \"預警時數/扣考時數\", \"color\": \"#8C8C8C\", \"size\": \"sm\", \"flex\": 0,\n      \"wrap\": true},\r\n                    { \"type\": \"text\", \"text\": \"{{7.`5`}}/{{7.`6`}}\", \"color\": \"#666666\", \"size\": \"sm\", \"align\": \"end\", \"flex\": 3 }\r\n                  ]\r\n                },\r\n                {\r\n                  \"type\": \"box\",\r\n                  \"layout\": \"horizontal\",\r\n                  \"contents\": [\r\n                    { \"type\": \"text\", \"text\": \"扣考預警/扣考狀態\", \"color\": \"#8C8C8C\", \"size\": \"sm\", \"flex\": 0,\n      \"wrap\": true},\r\n                    { \"type\": \"text\", \"text\":\" {{ifempty(7.`8`; \"無\"; 7.`8`)}}{{7.`8`}}/{{ifempty(7.`9`; \"無\"; 7.`9`)}}\", \"color\": \"#666666\", \"size\": \"sm\", \"align\": \"end\", \"flex\": 3 }\r\n                  ]\r\n                }\r\n              ], \r\n              \"spacing\": \"md\",\r\n              \"paddingAll\": \"12px\"\r\n            }, \r\n            \"styles\": {\r\n              \"footer\": {\r\n                \"separator\": false\r\n              }\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "your_api_key
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": false,
                "useQuerystring": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "",
                "name": "Password",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            },
            {
                "help": "",
                "name": "Student_ID",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ],
        "output_spec": [
            {
                "help": "",
                "name": "Res",
                "type": "text",
                "label": "",
                "default": "",
                "required": false,
                "multiline": false
            }
        ]
    }
}